@import "./base.css";

/* cantarell-latin-400-normal */
@font-face {
  font-family: "Cantarell";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(/cantarell_5.0.12_latin-400-normal.woff2) format("woff2"),
    url(/cantarell_5.0.13_latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "LXGW Neo XiHei";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(/LXGWNeoXiHei.woff2) format("woff2");
  unicode-range: U+0020-007E, U+00A1-02B8, U+02BB-02BC, U+02C0-02C1, U+02C6-02D6, U+02D8-02E3, U+02E5-02EC, U+02F3, U+02F7, U+02FA, U+02FD, U+0300-030D, U+030F, U+0311, U+0318-031A, U+031C-0320, U+0323-0327, U+0329-032A, U+032C, U+032F-0330, U+0332, U+0334-0336, U+0338-033D, U+0345-0346, U+0351, U+0357-0358, U+035C-035D, U+0361, U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03BB, U+03BD-03E1, U+03F0-045F, U+0462-046B, U+0470-0479, U+0490-0493, U+0496-049D, U+04A0-04A3, U+04AA-04AB, U+04AE-04B3, U+04B6-04BB, U+04C0-04C2, U+04CA, U+04CF-04D9, U+04E0-04E3, U+04E6-04E9, U+04EE-04EF, U+0500-0501, U+0510-0511, U+051A-051D, U+0E3F, U+1D00, U+1D04-1D05, U+1D07, U+1D0A-1D0B, U+1D0D, U+1D0F, U+1D18, U+1D1B-1D1C, U+1D20-1D22, U+1D2C, U+1D2E, U+1D30-1D31, U+1D33-1D3A, U+1D3C, U+1D3E-1D45, U+1D47-1D4A, U+1D4D, U+1D4F-1D53, U+1D56-1D58, U+1D5A-1D5B, U+1D5D, U+1D62-1D66, U+1D9C, U+1D9E, U+1DA0, U+1DA3, U+1DA6, U+1DAB, U+1DB0, U+1DB4, U+1DB8, U+1DBA-1DBB, U+1DBF, U+1E00-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D, U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3, U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2002-2003, U+2013-2016, U+201A-2022, U+2025-2027, U+2030-2037, U+2039-2040, U+2042, U+2044, U+2047-2049, U+2051, U+205A, U+205D, U+2070-2071, U+2074-208E, U+2090-2093, U+2095-209C, U+20A0-20BA, U+20BD, U+2100, U+2103, U+2105, U+2109, U+210F, U+2113, U+2116, U+2120-2122, U+2126-2127, U+212B, U+2135, U+213B, U+2150-2182, U+2189, U+2190-2199, U+219C-219D, U+21B0-21B4, U+21B6-21B9, U+21C4-21D5, U+21E6-21EA, U+21F5, U+2200-220D, U+220F, U+2211, U+2213, U+2215-2216, U+221A-2220, U+2223-2230, U+2234-2237, U+223D-223E, U+2242-2243, U+2245, U+2248, U+224B-224C, U+2251-2253, U+225C, U+2260-2262, U+2264-226B, U+226E-226F, U+2272-2273, U+2276-2277, U+2282-228B, U+2295-2299, U+229C-229E, U+22A0, U+22A5, U+22BF, U+22DA-22DB, U+22EE-22EF, U+2303-2307, U+2312, U+2318, U+2329-232A, U+237B, U+2393, U+23B0-23B1, U+23BE-23CC, U+23CE, U+23DA-23DB, U+23E8, U+2400-2424, U+2460-2590, U+2593-2595, U+25A0-25A1, U+25B1-25B3, U+25B6-25B7, U+25BC-25BD, U+25C0-25C1, U+25C6-25C7, U+25C9-25CC, U+25CE-25D3, U+25E2-25E6, U+25EF, U+2600-2603, U+2605-2606, U+2609, U+260E, U+2611-2612, U+2616-2617, U+261A-261F, U+262F-2637, U+2640-2642, U+2660-266F, U+2680-2685, U+268A-268F, U+2713, U+2717, U+273D, U+2756, U+2776-277F, U+27E6-27E7, U+2934-2935, U+293B, U+29BF, U+29FA-29FB, U+2ACB-2ACC, U+2B1A, U+2C71, U+2C7C-2C7D, U+2E3A-2E3B, U+2E80-2E99, U+2E9B-2EF3, U+2F00-2FD5, U+2FF0-2FFF, U+3001-3029, U+3030, U+3033-303E, U+3041-3096, U+3099-30FF, U+3105-312F, U+31A0-31E5, U+31EF-31FF, U+3220-3243, U+3250-325F, U+3280-332B, U+332D-33FF, U+3401-3402, U+3406, U+340E, U+342C, U+342E, U+3437, U+3447, U+344A, U+344C, U+3451, U+3468-346A, U+3473, U+3492-3493, U+34B5, U+34BC, U+34C1, U+34C7, U+34DB, U+34DF, U+34E4-34E6, U+34FE, U+3509, U+351F, U+353E, U+355C-355E, U+3563, U+356E, U+3577, U+358A, U+359E, U+35A1, U+35A6, U+35A8, U+35AD, U+35BF, U+35C5, U+35CE-35CF, U+35D1-35D2, U+35DA, U+35F0, U+35F3-35F4, U+35FE, U+3604-3605, U+360E, U+3617, U+361A, U+3625, U+362D, U+3630, U+3635, U+364A, U+364D, U+3658, U+365F, U+3661, U+3666, U+3691, U+3696, U+3699, U+36A2, U+36AC, U+36BB, U+36C3-36C5, U+36CF, U+36DA, U+36E2, U+36F9, U+3737, U+373A, U+3761-3762, U+376B-376C, U+3775, U+3779, U+377F, U+378D-378E, U+3797-3798, U+379E, U+37C1-37C3, U+37D6, U+37E2, U+37E4, U+37E8, U+37F4, U+37FD, U+3800, U+3807, U+3813, U+3823, U+382F, U+3836, U+383E, U+3840, U+385C, U+3861, U+38FA, U+3905, U+3917-3918, U+391A, U+391E, U+3925, U+392D, U+3944, U+394F, U+3960, U+396E-396F, U+39AE, U+39C0, U+39CF-39D2, U+39DF, U+39E1, U+39E5, U+39EC, U+39EF, U+39F8, U+39FE, U+3A03-3A04, U+3A17-3A18, U+3A4B, U+3A52, U+3A57, U+3A5F, U+3A67, U+3A6E, U+3A73, U+3A97, U+3ABA, U+3AD6-3AD7, U+3AEA, U+3AF0, U+3B0A, U+3B0E, U+3B1A, U+3B1C, U+3B22, U+3B24, U+3B39, U+3B4E, U+3B55, U+3B6D, U+3B74, U+3B77, U+3B87-3B88, U+3B8D, U+3BA3-3BA4, U+3BB6, U+3BBE, U+3BC3, U+3BCA, U+3BCD, U+3BF0, U+3C00, U+3C0F, U+3C26, U+3C54, U+3C6E, U+3CB2, U+3CC3, U+3CC7, U+3CD2, U+3CD8, U+3CDA, U+3CE0, U+3D11, U+3D14, U+3D1E, U+3D29, U+3D50, U+3D64, U+3D72, U+3D81, U+3D88-3D89, U+3D9A, U+3D9F, U+3DB2, U+3DC0, U+3DCD, U+3DD4, U+3DDB, U+3DE7, U+3DEB, U+3DFB, U+3E05-3E06, U+3E0C, U+3E3F, U+3E4E, U+3E60, U+3E62, U+3E66-3E68, U+3E6D, U+3E74, U+3E80, U+3E83-3E84, U+3E94, U+3EA2, U+3EAD, U+3ECB, U+3ED0, U+3EEA, U+3EEC, U+3EFD, U+3F06, U+3F08, U+3F0E, U+3F4F, U+3F57-3F58, U+3F72, U+3F75, U+3F77, U+3F93, U+3FA6, U+3FAE, U+3FC9, U+3FD4, U+3FD7, U+3FE0, U+3FED, U+3FFA, U+4007, U+4009, U+4026, U+4034, U+4039, U+4045, U+4056, U+4058, U+4065, U+406A, U+4093, U+40AE, U+40BB, U+40C5, U+40CE, U+40DA, U+40DF, U+40EE, U+40F0, U+4105, U+4137, U+413B, U+4148, U+414F, U+415F, U+4163, U+4180, U+41B4, U+41BF, U+41E6, U+41ED-41EE, U+41F2-41F3, U+41FD, U+4205, U+4207, U+420E, U+4264, U+426C, U+4272, U+42C6, U+42CE, U+42D6, U+42DD, U+4302, U+4308, U+4325, U+432B, U+4337, U+4339, U+4341, U+4343, U+4349, U+4361, U+4383, U+4396, U+43AC, U+43B1, U+43D9-43DA, U+43DD, U+43E1, U+43EE, U+43F0, U+43F2, U+43FF, U+4403, U+4408, U+440B, U+4417, U+441B-441C, U+4422, U+4453, U+445B, U+4476, U+447A, U+447D, U+4491, U+4495, U+44A4, U+44B3, U+44B7, U+44BE-44BF, U+44C2, U+44D4-44D6, U+44DB, U+44DD-44DE, U+44E3, U+44E8, U+44EA-44EC, U+44EE, U+4508, U+450D, U+4525, U+4543, U+4545, U+4552, U+4577, U+459D, U+45A2, U+45AC, U+45AE, U+45B3, U+45B8, U+45C1, U+45D6, U+45DB, U+45E5, U+45E9-45EA, U+45F4, U+45FB, U+4606, U+460F, U+4615, U+463C, U+4641, U+4646, U+464C, U+4661, U+4665, U+46A1, U+46AF, U+470C, U+4723, U+4729, U+473A, U+474B, U+4759, U+4764, U+477C, U+478D, U+47E1, U+47F4, U+47FD, U+4816, U+4844, U+484E, U+4875, U+4882, U+48B5, U+48BA, U+48BC, U+48C5, U+48D3, U+48D8, U+490C, U+493C, U+4947, U+4951, U+4955, U+495B, U+497A, U+497D, U+4982-4983, U+4985-4986, U+4989, U+499B, U+499F, U+49B0, U+49B6-49B7, U+49D1, U+49E7, U+49FA, U+4A04, U+4A12, U+4A29, U+4A44, U+4A6C, U+4A7A, U+4AB4, U+4AB8, U+4ABC, U+4ACC, U+4ACF, U+4B23, U+4B30, U+4B3B, U+4B54, U+4B72, U+4B84, U+4BC2, U+4BC4, U+4BCA-4BCB, U+4BD2, U+4BE8, U+4BFC, U+4C00, U+4C17, U+4C20, U+4C33, U+4C3E, U+4C57, U+4C5A-4C5B, U+4C75, U+4C77, U+4C7B, U+4C7D, U+4C81, U+4C85, U+4C97-4C98, U+4C9D, U+4C9F-4CA3, U+4CB3, U+4CC4, U+4CCD, U+4CD1, U+4D07-4D09, U+4D13-4D1A, U+4D25, U+4D5A, U+4D77, U+4D95, U+4D97, U+4DAE, U+4DB6-9FFF, U+A4D0-A4FF, U+A700-A716, U+A71B-A71C, U+A730-A731, U+A78E, U+A7AF, U+A7B5, U+A7F2-A7F4, U+A7F9, U+AB53, U+F92C, U+F979, U+F995, U+F9E7, U+F9F1, U+FA0C-FA0F, U+FA11, U+FA13-FA14, U+FA18, U+FA1F-FA21, U+FA23-FA24, U+FA27-FA29, U+FB00-FB06, U+FE10-FE18, U+FE31-FE52, U+FE54-FE66, U+FE68-FE6B, U+FF01-FF5D, U+FF5F-FF9F, U+FFE0-FFE6, U+FFE8, U+107A5, U+11FB0, U+16FE2-16FE3, U+1D300-1D356, U+1D360-1D376, U+1F000-1F02B, U+1F100, U+1F110-1F129, U+1F12F, U+1FA60-1FA6D, U+20086-20087, U+20089-2008A, U+20092, U+200CA-200CD, U+200D1, U+2010C, U+2010E, U+20164, U+201D4, U+20242, U+2028E, U+2029F, U+202C6, U+20350, U+20509, U+20546-20547, U+20628, U+20676, U+206A4, U+2070E, U+20731, U+20779, U+20895, U+2099D, U+209DA, U+20C41, U+20C53, U+20C78, U+20C8E, U+20C96, U+20CCF-20CD0, U+20CD5, U+20CFC, U+20D15, U+20D5D, U+20D71, U+20D7C, U+20D7F, U+20DA7, U+20E01, U+20E0E-20E0F, U+20E76-20E77, U+20E96, U+20E98, U+20E9D, U+20EA2, U+20ED7-20ED8, U+20EF9-20EFA, U+20F2D-20F2E, U+20F4C, U+20F90, U+20F96, U+20FB4, U+20FBC, U+20FEA, U+21014, U+2105C, U+2106F, U+21075-21076, U+2107B, U+210BF, U+210C1, U+210C9, U+210F6, U+21145, U+211D9, U+21334, U+21336, U+2134C, U+21377, U+2139A, U+213CB, U+21413, U+2144D, U+21484, U+215D7, U+216A6, U+216DF, U+216F0, U+21757, U+217D3, U+217DA, U+2180D, U+2197C, U+21A4B, U+21BC1-21BC2, U+21C2A, U+21CA2, U+21DA6, U+21DEB, U+21E03, U+21E8E, U+21F57, U+21FE8, U+22016, U+22049, U+220C7, U+22489, U+224DC, U+22650, U+227B5, U+22871, U+2298F, U+22A8F, U+22AB1, U+22ACF, U+22AD5, U+22AEC, U+22B43, U+22BCA, U+22C49, U+22C4B, U+22C51, U+22C55, U+22C62, U+22CC2, U+22D08, U+22D4C, U+22D67, U+22EB3, U+22F7E, U+23074, U+23236, U+232C9, U+23350, U+233B4, U+233E2, U+2343F, U+235CB, U+23617, U+236BA, U+23A3C, U+23A95, U+23B02, U+23B20, U+23B36, U+23B72, U+23C5D, U+23C7C, U+23C97-23C98, U+23CB7, U+23D13, U+23D66, U+23E23-23E24, U+241A2, U+241AC, U+241B5, U+241FE, U+24319, U+244D3, U+24605, U+2477D, U+247A4, U+247B6, U+247EF, U+248E9, U+249DB, U+249DF, U+24A01, U+24A7D, U+24A8C, U+24AC9, U+24B62, U+24BE5, U+24C09, U+24C1A, U+24C59, U+24D14, U+24DB8, U+24DEA, U+24EA7, U+24ECA, U+25050, U+25062, U+25128, U+2512B, U+25148, U+2517B, U+2517E, U+251A7, U+251E2, U+25273, U+25349, U+25532, U+2554D, U+25562, U+25584, U+255A8, U+255FD, U+2560C, U+2592E, U+25977, U+259D1, U+25AD7, U+25B1E, U+25B20, U+25B2F, U+25B9C, U+25BBE, U+25BE8, U+25C14, U+25D0A, U+25DD1, U+25E49, U+25ED7, U+25EF5, U+25FDD, U+26216, U+26220-26221, U+26258, U+2626B, U+26270, U+2630A, U+2634B-2634C, U+26393, U+263F4, U+2648D, U+26553, U+265D2, U+26676, U+266E8, U+2677C, U+267A6, U+267CC, U+2683F, U+2688A, U+26900, U+26951, U+269F2, U+269FA, U+26A29, U+26A2D, U+26ABD, U+26B4C, U+26B5C, U+26C0F, U+26C21, U+26D9F, U+26ED8, U+270FD, U+27285, U+273A5, U+273FE, U+274BD, U+27607, U+27741, U+277C4, U+277F0, U+278B2, U+279A7, U+27A3E-27A3F, U+27AF4, U+27BAA, U+27D2A, U+27FB7, U+27FC1, U+27FF9, U+280C5, U+280E9, U+280F0, U+2815D, U+28207, U+282E2, U+28408, U+28468, U+284C8, U+284DC, U+28595, U+28678, U+28695, U+28697, U+287AA, U+287E0, U+28948, U+289A1, U+289C0, U+28A0F, U+28B46, U+28B49, U+28B4E, U+28C3E, U+28C47, U+28C4D-28C4F, U+28C51, U+28C53-28C54, U+28CCA, U+28CCD, U+28CD2, U+28D99, U+28E0F, U+28E93, U+28E99, U+28EE7, U+28EF6, U+2925C, U+2945D, U+294BA, U+294E5, U+2967F, U+2969F, U+296A8, U+296C3, U+29751, U+297B0, U+2980C-2980D, U+29810, U+29A02, U+29B9C, U+29C18, U+29D98, U+29EF8, U+29F7C, U+29F7E, U+29F83, U+29F87, U+29F8C, U+2A00B, U+2A04F, U+2A248, U+2A38A, U+2A736, U+2A79D, U+2A7DD, U+2A833, U+2A838, U+2A83D, U+2A8AE, U+2A8DD, U+2A8FB, U+2A917, U+2A970, U+2AA07, U+2AA0A, U+2AA17, U+2AA30, U+2AA36, U+2AA58, U+2AB62, U+2AB8B, U+2AC77, U+2AC94, U+2ADFD, U+2AED0, U+2AF47, U+2AF94, U+2AFA2, U+2AFA6, U+2AFD6, U+2B088, U+2B0D1, U+2B11B, U+2B11F, U+2B124-2B125, U+2B127-2B128, U+2B12B, U+2B137-2B138, U+2B1ED, U+2B230, U+2B241, U+2B2BB, U+2B2CC, U+2B300, U+2B328, U+2B35F, U+2B362-2B363, U+2B36F, U+2B372, U+2B37B, U+2B37D, U+2B3AB, U+2B404, U+2B410-2B411, U+2B413, U+2B416, U+2B418, U+2B461, U+2B4E7, U+2B4E9, U+2B4EF, U+2B4F6, U+2B4F9, U+2B507, U+2B50D-2B50E, U+2B536, U+2B583, U+2B592, U+2B594, U+2B598, U+2B5AE-2B5AF, U+2B5B3, U+2B5B9, U+2B5E0, U+2B5E6-2B5E7, U+2B5E9, U+2B5EB, U+2B5EE, U+2B5F0, U+2B5F4, U+2B61C-2B61D, U+2B624-2B628, U+2B62A, U+2B62C-2B62D, U+2B688-2B689, U+2B692, U+2B694-2B696, U+2B6A5, U+2B6AD, U+2B6DA, U+2B6DE, U+2B6E3, U+2B6E9, U+2B6ED, U+2B6F3, U+2B6F6, U+2B6F8, U+2B728, U+2B72C, U+2B737, U+2B739, U+2B77A, U+2B7A9, U+2B7C5, U+2B7E6, U+2B7F7, U+2B7F9, U+2B7FC, U+2B806, U+2B80A, U+2B81C, U+2B892, U+2B8B8, U+2B8CA, U+2B9EF, U+2BA5B, U+2BA81, U+2BA98, U+2BAC7, U+2BAE6, U+2BAFE, U+2BB5F, U+2BB62, U+2BB6A, U+2BB7C, U+2BB83, U+2BB85, U+2BC02, U+2BC1B, U+2BC21, U+2BC30, U+2BCA6, U+2BD58, U+2BD77, U+2BD7C, U+2BD87, U+2BDF7, U+2BE29, U+2BF1D, U+2C029-2C02A, U+2C081, U+2C0A9, U+2C0C0, U+2C0CA, U+2C0D8, U+2C129, U+2C1AE, U+2C1D5, U+2C1D8-2C1D9, U+2C1DE, U+2C1F9, U+2C27C, U+2C288, U+2C2A4, U+2C2B6, U+2C317, U+2C35B, U+2C361, U+2C364, U+2C386, U+2C457, U+2C488, U+2C494, U+2C497, U+2C542, U+2C58B, U+2C591, U+2C59E, U+2C613, U+2C618, U+2C61C-2C61D, U+2C621-2C622, U+2C629, U+2C62B-2C62D, U+2C62F, U+2C635, U+2C642, U+2C646, U+2C64A-2C64B, U+2C72C, U+2C72F, U+2C79F, U+2C7C1, U+2C7FD, U+2C805, U+2C88A, U+2C8C0, U+2C8D9, U+2C8DE, U+2C8E1, U+2C8F3, U+2C907, U+2C90A, U+2C91D, U+2C930, U+2C9C0, U+2CA02, U+2CA0E, U+2CA7D, U+2CA8D, U+2CAA9, U+2CB29, U+2CB2B, U+2CB2D-2CB2E, U+2CB31-2CB32, U+2CB38-2CB3B, U+2CB3F, U+2CB41, U+2CB4A, U+2CB4E, U+2CB5A-2CB5B, U+2CB63-2CB64, U+2CB69, U+2CB6C, U+2CB6F, U+2CB72-2CB74, U+2CB76, U+2CB78, U+2CB7C, U+2CBA4, U+2CBB1, U+2CBB4, U+2CBBF-2CBC0, U+2CBCE, U+2CC56, U+2CC5F, U+2CC66, U+2CCB1, U+2CCBD, U+2CCC7, U+2CCF5-2CCF6, U+2CCFD, U+2CCFF, U+2CD02-2CD03, U+2CD0A, U+2CD10, U+2CD8B, U+2CD8D, U+2CD8F-2CD90, U+2CD9F-2CDA0, U+2CDA7-2CDA8, U+2CDAD-2CDAE, U+2CDD5, U+2CE05, U+2CE08, U+2CE18, U+2CE1A, U+2CE23, U+2CE26, U+2CE29-2CE2A, U+2CE31, U+2CE7C, U+2CE88, U+2CE93, U+2D11B, U+2D382, U+2D544, U+2D546, U+2D613, U+2D6A6, U+2D8C7, U+2D8E7, U+2D930, U+2DA86, U+2DC4A, U+2DD0A, U+2DE5C, U+2E014, U+2E18F, U+2E261-2E262, U+2E264, U+2E267-2E268, U+2E26A-2E26C, U+2E26F, U+2E41A, U+2E428, U+2E502, U+2E505, U+2E50A, U+2E581, U+2E5B1, U+2E64A-2E64B, U+2E774-2E775, U+2E778-2E77A, U+2E81E, U+2E8F2-2E8F7, U+2E932, U+2E9F4-2E9F5, U+2EA3B, U+2EA5B, U+2EA5D-2EA5E, U+2EAA5, U+2EAC2, U+2EB1C-2EB24, U+2EB65-2EB66, U+2EB68, U+2EB6A, U+2EB70, U+2EB87, U+2EBD9, U+2EC63, U+2EC7B, U+2ED3F, U+2EDF5, U+2EE5D, U+300F7, U+301E3, U+302C0, U+30300, U+30302, U+30787, U+307D8, U+30858, U+30915, U+309C9, U+30ABF, U+30BFC, U+30C28, U+30C71-30C72, U+30D5D-30D5E, U+30D67, U+30D74, U+30D7C, U+30D8A, U+30DE0, U+30DE5, U+30EDD-30EDE, U+30F57, U+30F5A, U+30F74, U+30F7D, U+30FA0, U+30FAB, U+31090, U+310A8-310A9, U+310B1, U+310EA, U+310F1, U+310FA, U+31148, U+3114B, U+3115B, U+311E3, U+311F1, U+31254, U+31275, U+31283, U+31288, U+3132E, U+313BC, U+313FF, U+3158E, U+31592, U+31AC9, U+31B92, U+31B9C, U+31D1F, U+31D31, U+31E07, U+31E4D, U+32003, U+3208E, U+32217, U+322E4, U+3235B, U+3236D, U+3237F, U+F0024, U+F053A, U+FFFFD;
}

body {
  @apply bg-background-light dark:bg-background-dark text-gray-800;
  font-family: "LXGW Neo XiHei", Cantarell, "Source Han Serif CN VF" !important;
}

textarea:focus {
  outline: none;
}

.wmde-markdown {
  @apply bg-w;
  font-family: "LXGW Neo XiHei", Cantarell, "Source Han Serif CN VF" !important;
}

.w-md-editor {
  @apply bg-w;
}

.wmde-markdown img {
  @apply rounded-lg;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ol {
  list-style: decimal;
}

ul {
  list-style: initial;
}

.link-line a {
  @apply hover:underline;
}

.wmde-markdown code {
  @apply text-theme bg-secondary;
}

.markdown-alert {
  @apply !border-l-2 border-2 rounded-lg !py-4 my-4 !px-4 !leading-snug space-y-0;
}

.markdown-alert-note {
  @apply !border-indigo-300 bg-indigo-100 !text-indigo-400 dark:!bg-indigo-900 dark:!text-indigo-300 dark:!border-indigo-900;
}

.markdown-alert-warning {
  @apply !border-yellow-300 bg-yellow-100 !text-yellow-400 dark:!bg-yellow-900 dark:!text-yellow-300 dark:!border-yellow-900;
}

.markdown-alert-tip {
  @apply !border-green-300 bg-green-100 !text-green-400 dark:!bg-green-900 dark:!text-green-300 dark:!border-green-900;
}

.markdown-alert-important {
  @apply !border-purple-300 bg-purple-100 !text-purple-400 dark:!bg-purple-900 dark:!text-purple-300 dark:!border-purple-900;
}

.markdown-alert-caution {
  @apply !border-red-300 bg-red-100 !text-red-400 dark:!bg-red-900 dark:!text-red-300 dark:!border-red-900;
}

.markdown-alert-title {
  @apply flex flex-row items-center !mb-0 !text-inherit !font-bold fill-current;
}

.p-inputtext {
  @apply bg-secondary text-end px-2 py-2;
}

.octicon {
  @apply mr-1 w-3;
}

.katex {
  overflow-x: auto;
  overflow-y: hidden;
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.ani-show {
  animation: anvil 0.5s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.ani-show-fast {
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.table {
  @apply w-full border-collapse my-4;
  overflow-x: auto;
  display: block !important;
}

.table th,
.table td {
  @apply border border-slate-500 dark:border-slate-300 px-4 py-2;
}

.table th {
  @apply bg-slate-200 dark:bg-slate-700;
}

/* TOC Style */

.toc {
  overflow-y: auto;
}

.toc>.toc-list {
  overflow: hidden;
  position: relative;
}

.toc>.toc-list li {
  list-style: none;
}

.toc-list {
  margin: 0;
  padding-left: 10px;
}

a.toc-link {
  color: currentColor;
  height: 100%;
  width: 100%;
  display: block;
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.is-collapsed {
  max-height: 0;
}

.is-position-fixed {
  position: fixed !important;
  top: 0;
}

.is-active-link {
  font-weight: 700;
}

.toc-link::before {
  background-color: #eee;
  content: " ";
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}

.is-active-link::before {
  @apply bg-theme;
}
